.list {
    list-style: none;

    &__item {
        display: inline-block;
        border: 1px solid;
        margin: 0 5px;
        padding: 5px;
        cursor: pointer;
    }
}

.word {
    letter-spacing: 10px;
}

.disabled {
    pointer-events:none;
    opacity:0.4;
}